<div class="vl-modal-dialog__header">
	  {{#if this.closeHint}}
			<div class="vl-grid">
			  <div class="vl-col--10-12">
			    <p class="vl-modal-dialog__title">
			    	{{yield}}
			    </p>
			  </div>
		    <div class="vl-col--2-12 u-align-right">
		      <a class="link--icon--close" href="#" {{action this.closeHint}}>
		        <span class="u-visually-hidden">Venster sluiten</span>
		      </a>
		    </div>
			</div>
	  {{else}}
	    <p class="vl-modal-dialog__title">
	    	{{yield}}
	    </p>
	  {{/if}}
</div>
