<form {{on "submit" this.handleSubmit}} class="vl-form">
  {{yield (hash
    time=(component "say/-internal/input-time")
    date=(component "say/-internal/input-date"))}}

  <div class="vl-action-group">
	  <button type="submit" class="u-hidden">submit button</button>
	</div>
</form>
